numpy==2.0.1
scipy==1.14.1
matplotlib==3.9.2
librosa==0.10.2.post1
sounddevice==0.5.0
soundfile==0.12.1
pyaudio
tkinter
pytest
scikit-learn==1.5.1
numba==0.60.0
joblib==1.4.2
pooch==1.8.2
decorator==5.1.1
audioread==3.0.1
pycparser==2.22
llvmlite==0.43.0
soxr==0.5.0